/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  height: 70px;
  background-color: rgb(253, 250, 247);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 60px;
  gap: 1rem;
}

#logo {
  margin-inline-end: auto;
  font-size: 2rem;
}

/* Forside */
#categories {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 10px auto 0 auto;
}

.undercategory {
  /* background-color: lightgrey; */
  padding: 1.8rem;
  flex-grow: 1;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  transition: 0.3s;
}

.undercategory:hover {
  scale: 1.05;
  transition: 0.3s;
}

.undercategory img {
  width: 40px;
  height: auto;
}

/* Produktliste */
#accessories {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  place-content: left;
}

.product_card {
  max-width: 280px;
  height: 500px;
  padding: 1rem;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  transition: 0.2s;
}

.product_card img {
  border-width: 2px;
  border-color: rgb(232, 232, 232);
  border-style: solid;
}

.product_card:hover {
  scale: 1.05;
  transition: 0.2s;
}

.discount_flex {
  display: flex;
  flex-direction: row;
}

.discount_container {
  margin-inline-start: auto;
}

.discount_display {
  background-color: yellow;
  padding: 1.3rem 0.8rem;
  border-radius: 100px;
  margin-top: -10px;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.078);
}

.sold_out {
  filter: grayscale(1);
  opacity: 0.7;
  grid-row: 1;
  grid-column: 1;
}

.sold_out_display {
  display: grid;
}

.sold_out_text {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  margin: auto auto;
}

/* Produkt */
#product_display {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product_image {
  max-width: 425px;
  margin: 0 auto;
}

.product_image img {
  border-width: 2px;
  border-color: rgb(232, 232, 232);
  border-style: solid;
}

.product_row {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-bottom: 25px;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricesize_container {
  /* display: flex;
  flex-direction: row;
  gap: 1rem; */
  margin-bottom: 25px;
}

.price_container,
.size_container {
  display: flex;
  gap: 0.8rem;
}

.add_to_basket {
  padding: 15px;
  width: 250px;
  text-align: center;
  /* margin-bottom: 25px; */
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  transition: 0.3s;
}

.add_to_basket:hover {
  scale: 1.05;
  transition: 0.3s;
}
